* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.settings-checkboxes {
    margin: 10px;
}

.settings-checkboxes label {
    margin-left: 3px;
}

button {
    padding: 8px;
    color: black;
    background-color: white;
    border: 1px solid black;
    animation: background-color 0.5s;
}

button:active {
    background-color: gold;
}

a {
    color: black;
}

a:hover {
    color: darkblue;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 100vh;
    width: 100%;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(40vh, 20vw);
    font-weight: bold;
    border-bottom: 1px solid black;
}

.card.prime {
    background-color:lightgreen;
}

.card.composite {
    background-color: lightsteelblue;
}

i.sexy {
    font-size: medium;
}

@keyframes load {
    100% {
        transform: translateX(100%);
    }
}

.hide {
    opacity: 0 !important;
    visibility: hidden;
}

#settings-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: all 1s;
    z-index: 1;
}

#settings-icon:hover {
    cursor:pointer;
    background-color: rgba(255, 255, 255, 1.0);
}

#settings-content {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: opacity 1s;
    z-index: 0;

}